<!doctype html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat|Open+Sans|Roboto" rel="stylesheet">

    <!-- Customs Styles -->
    <link rel="stylesheet" href="/styles.css">

    </head>
    <body class='search-body'>
        <div class="search-bar-wrapper">
            <div class="row">
                <div>
                    <a href="/">Home</a>
                </div>
                <div class='search-bar ml-auto'>
                    <form action='/search' method='GET'>
                        <input type="text" name='movieId' placeholder="Enter movie name here">
                        <button type='submit'>Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="movie-result-wrapper">
            <a href="#" onclick="goBack()"><< Go Back</a>
            <div class="movie-card-detail">
                <div class='row'> 
                    <div class="col-xs-12 col-s-12 col-md-6 col-lg-4 col-lg-4">
                        <img class='img-fluid' src=<%= 'https://image.tmdb.org/t/p/w1280' + poster_path %> >
                    </div>
                    <div class="col-xs-12 col-s-12 col-md-6 col-lg-8 col-xl-8">
                        <p class='movie-title-detail'> <%= original_title %> </p>
                        <div class='row'>
                        <% for (let i = 0; (genres.length === undefined || i < genres.length); i++) { %>
                            <p class="genre-item-detail"> <%= genres[i].name %> </p>
                        <% } %>
                        </div>
                        <p class='movie-rating-text-detail'>Rating based on <%= vote_count %> votes</p>
                        <div class='row col-12'>
                            <% for (let j = 0; j <= vote_average; j++) { %>
                                <i class="fas fa-star"></i>
                            <% } %>
                        </div>
                        <p class='text-muted movie-caption-detail'> <%= overview %> </p>
                        
                        <p class='movie-link-detail'>
                            <a href=<%= "http://www.imdb.com/title/" + imdb_id %>>Visit the Real IMBD Page</a>
                        </p>
                        <a href=<%= homepage %>>Movie Homepage</a>
                     
                    </div>
                </div>
            </div>
        </div>

        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
            function goBack() {
                window.history.back();
            }
            </script>
    </body>
</html>